.home{
    border-radius:50%
}

h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Garamond;
}

.navbar{
    padding-left:50px;
    padding-top:110px;}

.card-group{
    font-family: Garamond;
    background-color: lavenderblush;
}

header{
    background-color: lavenderblush;
}

.nav-item{
    font-family: Garamond;
}

footer p{
    text-align:center;
    padding-top: 30px;
    font-family: Garamond;
    background-color: lavenderblush;
}